<form nz-form [formGroup]="validateForm" nzLayout="vertical"
      (ngSubmit)="submitForm(validateForm.value)"
      style="justify-content: space-between; display: flex; flex-wrap: wrap;">
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Learning Rate :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="lrErrorTpl">
      <input nz-tooltip="learning rate (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="learning_rate" placeholder="Learning Rate" />
      <ng-template #lrErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notFloat')">
          Must be a float
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Batch Size :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="bsErrorTpl">
      <input nz-tooltip="batch size (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="batch_size" placeholder="Batch Size" />
      <ng-template #bsErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notInt')">
          Must be an int
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Epochs :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="eErrorTpl">
      <input nz-tooltip="epochs (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="epochs" placeholder="Epochs" />
      <ng-template #eErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notInt')">
          Must be an int
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Momentum :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="momentumErrorTpl">
      <input nz-tooltip="momentum (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="momentum" placeholder="Momentum" />
      <ng-template #momentumErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notFloat')">
          Must be a float
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Weight Decay :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="wdErrorTpl">
      <input nz-tooltip="weight-decay (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="wd" placeholder="Weight Decay" />
      <ng-template #wdErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notFloat')">
          Must be a float
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Learning Rate Factor :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="lrfErrorTpl">
      <input nz-tooltip="learning rate factor (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="lr_factor" placeholder="Learning Rate Factor" />
      <ng-template #lrfErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notFloat')">
          Must be a float
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Number of Workers :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="nbwErrorTpl">
      <input nz-tooltip="number of workers (used for training)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="num_workers" placeholder="Number of Workers" />
      <ng-template #nbwErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notInt')">
          Must be an int
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Jitter :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="jErrorTpl">
      <input nz-tooltip="jitter (used for data augmentation)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="jitter_param" placeholder="Jitter" />
      <ng-template #jErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notFloat')">
          Must be a float
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Lighting :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="lightingErrorTpl">
      <input nz-tooltip="lighting (used for data augmentation)"
             nzTooltipPlacement="topRight"
             nz-input formControlName="lighting_param" placeholder="Lighting" />
      <ng-template #lightingErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a number!
        </ng-container>
        <ng-container *ngIf="control.hasError('notFloat')">
          Must be a float
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Xavier :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="xErrorTpl">
      <nz-select nz-tooltip="true or false (used for weights initialization)"
                 nzTooltipPlacement="topRight"
                 formControlName="Xavier" nzPlaceHolder="Xavier"
                 [(ngModel)]="selectedXavier">
        <nz-option [nzValue]="true" nzLabel="True"></nz-option>
        <nz-option [nzValue]="false" nzLabel="False"></nz-option>
      </nz-select>
      <ng-template #xErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please select a state!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">MSRAPrelu :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="msrapErrorTpl">
      <nz-select nz-tooltip="true or false (used for weights initialization)"
                 nzTooltipPlacement="topRight"
                 formControlName="MSRAPrelu" nzPlaceHolder="MSRAPrelu"
                 [(ngModel)]="selectedMSRAPrelu">
        <nz-option [nzValue]="true" nzLabel="True"></nz-option>
        <nz-option [nzValue]="false" nzLabel="False"></nz-option>
      </nz-select>
      <ng-template #msrapErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please select a state!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-label nzFlex="1">Data Augmenting :</nz-form-label>
    <nz-form-control nzFlex="1" nzHasFeedback [nzErrorTip]="dataErrorTpl">
      <nz-select nz-tooltip="decides wether to augment the data using our custom data_augmentation funtion or not"
                 nzTooltipPlacement="topRight"
                 formControlName="data_augmenting" nzPlaceHolder="Data Augmenting"
                 [(ngModel)]="selectedDataAugmenting">
        <nz-option [nzValue]="true" nzLabel="True"></nz-option>
        <nz-option [nzValue]="false" nzLabel="False"></nz-option>
      </nz-select>
      <ng-template #dataErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please select a state!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
