
.card {
    width: 100%;
    overflow: auto;
}


.jobTitleParentDiv {
    padding-left: 2em;
    overflow: hidden;
}

.jobTitle {
    font-size: 1.9em;
}

.list-item-button {
    border: 0;
    box-shadow: 1px 1px 6px rgba(0,21,41,.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 280px) and (max-width: 1024px) {

    .jobTitleParentDiv {
        padding-left: 0;
    }

    .jobTitle {
        font-size: 1.5em;
    }
}
